.br {
  --brw: none;
  --brs: solid;
  --brc: none;

  --border-width-brw: #{varpx(--brw)};
  --border-style-brs: var(--brs);
  --border-color-brc: var(--brc);

  border-width: var(--border-width-brw);
  border-style: var(--border-style-brs);
  border-color: var(--border-color-brc);

  @include media(laptop) {
    --border-width: #{product(--brw, --width-ratio)};
    // --border-style: var(--bs);
    // --border-color: var(--bc);
  }
}

.brr {
  --brr: none;

  --border-radius-brr: #{varpx(--brr)};

  border-radius: var(--border-radius-brr);

  @include media(laptop) {
    --border-radius-brr: #{product(--brr, --width-ratio)};
  }
}

.brb {
  --brbw: none;
  --brbs: solid;
  --brbc: none;

  --border-bottom-width-brbw: #{varpx(--brbw)};
  --border-bottom-style-brbs: var(--brbs);
  --border-bottom-color-brbc: var(--brbc);

  border-bottom-width: var(--border-bottom-width-brbw);
  border-bottom-style: var(--border-bottom-style-brbs);
  border-bottom-color: var(--border-bottom-color-brbc);

  @include media(laptop) {
    --border-bottom-width-brbw: #{product(--brbw, --width-ratio)};
    // --border-style: var(--bs);
    // --border-color: var(--bc);
  }
}
