.p {
  --p: none;

  --padding-p: #{varpx(--p)};

  padding: var(--padding-p);

  @include media(laptop) {
    --padding-p: #{product(--p, --width-ratio)};
  }
}

.px {
  --px: none;

  --padding-px: #{varpx(--px)};

  padding-left: var(--padding-px);
  padding-right: var(--padding-px);

  @include media(laptop) {
    --padding-px: #{product(--px, --width-ratio)};
  }
}

.px-half {
  --px: none;

  --px-ratio: #{wRatio(--px)};

  --padding-px: calc(#{varvw(--px-ratio)} / 2);

  padding-left: var(--padding-px);
  padding-right: var(--padding-px);

  @include media(laptop) {
    --padding-px: #{varvw(--px-ratio)};
  }
}

.py {
  --py: none;

  --padding-py: #{varpx(--py)};

  padding-top: var(--padding-py);
  padding-bottom: var(--padding-py);

  @include media(laptop) {
    --padding-py: #{product(--py, --width-ratio)};
  }
}

.pt {
  --pt: none;

  --padding-pt: #{varpx(--pt)};

  padding-top: var(--padding-pt);

  @include media(laptop) {
    --padding-pt: #{product(--pt, --width-ratio)};
  }
}

.pb {
  --pb: none;

  --padding-pb: #{varpx(--pb)};

  padding-bottom: var(--padding-pb);

  @include media(laptop) {
    --padding-pb: #{product(--pb, --width-ratio)};
  }
}
