.w {
  --w: none;

  --width-w: #{varpx(--w)};

  width: var(--width-w);

  @include media(laptop) {
    --width-w: #{product(--w, --width-ratio)};
  }
}

.max-w {
  --max-w: none;
  --max-width-max-w: #{varpx(--max-w)};

  width: 100%;
  max-width: var(--max-width-max-w);

  @include media(laptop) {
    --max-width-max-w: #{product(--max-w, --width-ratio)};
  }
}
