<ul class="sns">
  <li>
    <i class="fab fa-facebook-f"></i>
  </li>
  <li>
    <i class="fab fa-twitter"></i>
  </li>
  <li>
    <i class="fab fa-youtube"></i>
  </li>
  <li>
    <i class="fab fa-google-plus-g"></i>
  </li>
  <li>
    <i class="fab fa-android"></i>
  </li>
</ul>
<section class="txtbox">
  <p class="title ft">SINCE <span class="ft"> 1933</span></p>
  <p class="txt ft">LIFE IS A BEAUTIFUL SPORT</p>
</section>

<video [muted]="'muted'" autoplay loop>
  <source src="./assets/video/lacoste_vid.mp4" />
</video>
